# Development requirements for running locally (not needed in Databricks runtime)
# Do not install pyspark inside Databricks clusters.

pyspark==3.4.1
pandas==2.2.2
numpy==1.26.4
matplotlib==3.8.4

# Machine Learning
scikit-learn==1.5.1
imbalanced-learn==0.12.3

# IO & performance
pyarrow==15.0.2

# Utilities
tqdm==4.66.4
